<template>
<div>
    <header-module hasSearch>
        <delivery-search :title="props.raw" slot-scope="props"/>
    </header-module>

    <!-- Tiles -->
    <delivery-tiles/>

    <!-- Datatable -->
    <delivery-table/>

</div>
</template>

<script>
// Layout
import HeaderModule from '../../layout/HeaderModule'

// Components
import PPortlet from '../../../components/pegasus/PPortlet'
import DeliverySearch from '../../../components/delivery/DeliverySearch'
import DeliveryTable from '../../../components/delivery/DeliveryTable'
import DeliveryTiles from '../../../components/delivery/DeliveryTiles'

export default {
    name: 'DeliveryFollowUp',
    components: { HeaderModule, PPortlet, DeliverySearch, DeliveryTable, DeliveryTiles },
    computed: {},
    methods: {}
}
</script>
