<template>
<div class="table-responsive">
    <table class="table"
        :class="{
            'table-striped': striped,
            'table-bordered': bordered,
            'table-hover': hoverable
        }"
    >
        <thead class="d-none d-md-table-header-group">
            <tr>
                <th v-if="hasDetail"></th>
                <th
                    class="text-uppercase"
                    v-for="(column, key) in columns"
                    :key="key"
                    @click="updateSort(key)"
                >
                    {{ $t(column.title) }}

                    <template v-if="column.orderable || !column.hasOwnProperty('orderable')">
                        <font-awesome-icon icon="sort" v-show="sort.col !== key"/>
                        <font-awesome-icon class="font-red-du" :icon="caretDirection" v-show="sort.col === key"/>
                    </template>
                </th>
            </tr>
        </thead>

        <tbody>
            <template v-if="loaded">
                <!-- Error -->
                <tr v-if="error">
                    <td :colspan="colCount" class="alert alert-danger text-center"><h5 class="mb-0">Error</h5></td>
                </tr>

                <!-- No result -->
                <tr v-if="empty">
                    <td :colspan="colCount" class="text-center"><h5 class="mb-0">Pas de résultat</h5></td>
                </tr>

                <!-- Result -->
                <template v-for="(row, key) in rows" v-else>
                    <tr
                        :key="key"
                    >
                        <td class="d-none d-md-table-cell align-middle" v-if="hasDetail">
                            <p-button class="w-100 font-green-jungle" icon="search" onlyIcon @click="setDetail(key)"/>
                        </td>
                        <td class="d-none d-md-table-cell align-middle" v-for="(column, colKey) in columns" :key="colKey">
                            <template v-if="isDate(column)">
                                {{ formatDateToDisplay(row[column.data]) }}
                            </template>

                            <template v-else>
                                {{ row[column.data] }}
                            </template>
                        </td>

                        <td class="d-md-none align-middle" :data-label="column.title" v-for="(column, colKey) in columns" :key="`stacked-${colKey}`">
                            <div>{{ row[column.data] }}</div>
                        </td>
                        <td class="d-md-none align-middle" data-label="Detail" v-if="hasDetail">
                            <p-button class="w-3 font-green-jungle" icon="search" onlyIcon @click="setDetail(key)"/>
                        </td>
                    </tr>

                    <tr class="detail" v-if="openedDetail(key)">
                        <td :colspan="colCount"> Detail </td>
                    </tr>
                </template>
            </template>

            <!-- Loading -->
            <tr v-show="!loaded">
                <td :colspan="colCount" class="text-center">Loading</td>
            </tr>

        </tbody>

    </table>
</div>
</template>

<script>
// Components
import PButton from '../pegasus/buttons/PButton'

// Mixins
import DateTimesMixin from '../../mixins/pegasus/DateTimesMixin'

export default {
    name:'Datatable',
    mixins: [ DateTimesMixin ],
    components: { PButton },
    props: {
        api: {
            type: String,
            required: true
        },
        columns: {
            type: Array,
            required: true
        },
        length: {
            type: Number,
            default: 30
        },
        search: {
            type: String,
            default: ''
        },
        hasDetail: {
            type: Boolean,
            default: () => { return false }
        },
        params: {
            type: Object,
            default: () => { return {} }
        },

        striped: {
            type: Boolean,
            default: () => { return false }
        },
        bordered: {
            type: Boolean,
            default: () => { return false }
        },
        hoverable: {
            type: Boolean,
            default: () => { return false }
        }
    },
    data() {
        return {
            rows: [],
            sort: {
                col: null,
                dir: null
            },
            details: [],
            loaded: false,
            error: false
        }
    },
    computed: {
        queryFactory() {
            let columns = ''
            this.columns.forEach((column, key) => {
                columns += `columns[${key}][data]=${column.data}&`
                columns += `columns[${key}][orderable]=${(column.hasOwnProperty('orderable') ? column.orderable : true)}&`
                columns += `columns[${key}][searchable]=${(column.hasOwnProperty('searchable') ? column.searchable : true)}&`
                columns += `columns[${key}][name]=${column.data}&`
            })

            let order = (!!this.sort.dir) ? `order[0][column]=${this.sort.col}&order[0][dir]=${this.sort.dir}` : ''

            let params = ''
            if(Object.keys(this.params).length > 0 && this.params.constructor === Object) {
                for(let param in this.params) {
                    if(this.params[param].constructor === Array) {
                        this.params[param].forEach((item, key) => {
                            params += (typeof item === 'string') ? `&${param}[${key}]=${item}` : `&${param}[${key}]=${item.id}`
                        })
                    }
                }
            }

            return `?${columns}${order}&length=${this.length}&start=0&${this.search}&${params}`
        },
        colCount() {
            return (this.hasDetail) ? this.columns.length + 1 : this.columns.length
        },
        caretDirection() {
            return (this.sort.dir === 'asc') ? 'sort-up' :
                (this.sort.dir === 'desc') ? 'sort-down' : 'sort'
        },
        cachedSort() {
            return this.sort
        },
        empty() {
            return (this.rows.length === 0)
        }
    },
    methods: {
        async fetch(){
            this.loaded = false
            const result = await axios.get(`${this.api}${this.queryFactory}`)

            this.rows = result.data.data
            this.error = (result.data.hasOwnProperty('error'))

            this.loaded = true
        },
        updateSort(key) {
            if(!this.error) {
                this.sort.dir = (key === this.sort.col) ?
                    (this.sort.dir === 'desc') ? 'asc' :
                    (this.sort.dir === 'asc') ? null : 'desc' :
                    'desc'

                this.sort.col = (!!this.sort.dir) ? key : null

                // Reload rows
                this.fetch()
            }
        },
        setDetail(key) {
            const index = this.details.indexOf(key)

            if(index === -1) {
                this.details.push(key)
            } else {
                this.details.splice(index, 1)
            }
        },
        openedDetail(key) {
            return (this.details.indexOf(key) >= 0)
        },
        isDate(column) {
            return (column.hasOwnProperty('date') && column.date)
        }
    },
    mounted() {
        this.fetch()
    }
}
</script>

<style lang="scss">
tr.detail, tr.detail:hover {
    background-color: white !important
}
tr>[data-label]{
    display: grid;
    grid-template-columns: 40% auto;
    grid-gap: .25rem 1rem
}
tr>[data-label]:before {
    content: attr(data-label);
    text-align:right;
    font-weight:700
}
</style>

