<template>
<div class="d-flex flex-column flex-md-row flex-wrap w-100">
    <p-portlet headerless v-for="(tile, key) in tiles" :key="key" oneThird>
        <div class="d-flex flex-wrap justify-content-between align-items-center w-100">
            <div class="text-left">
                <p class="m-0 metric-data">
                   Text later!
                </p>
                <p class="m-0">
                    {{ tile.name }}
                </p>
            </div>
            <font-awesome-icon class="d-block d-md-none font-red-du" :icon="tile.icon" size="2x"></font-awesome-icon>
            <font-awesome-icon class="d-none d-md-block font-red-du" :icon="tile.icon" size="3x"></font-awesome-icon>
        </div>
    </p-portlet>
</div>
</template>

<script>
// Components
import PPortlet from '../pegasus/PPortlet'

export default {
    name: 'DeliveryTiles',
    components: { PPortlet },
    data() {
        return {
            tiles: [
                {
                    name: this.$t('delivery.tiles.default'),
                    total: 0,
                    locked: 0,
                    icon: 'truck'
                },
                {
                    name: this.$t('delivery.tiles.progress'),
                    total: 0,
                    locked: 0,
                    icon: 'road'
                },
                {
                    name: this.$t('delivery.tiles.end'),
                    total: 0,
                    locked: 0,
                    icon: 'check'
                }
            ]
        }
    },
    computed: {},
    methods: {}
}
</script>

<style>
.metric-data { font-size: 1.8rem }
</style>
