<template>
<p-portlet
    notExpandable
    hasCustomTitle
    :title="$t('delivery.table.header.title')"
    :subtitle="$t('delivery.table.header.subtitle')"
>
    <div class="d-flex flex-row" slot="title">
        <div class="d-flex flex-row justify-content-between">
            <h5 class="mb-0 text-uppercase">{{$t('delivery.table.header.title')}}</h5>
            <p class="portlet-subtitle d-none d-md-block mb-0 ml-2 mr-2">{{$t('delivery.table.header.subtitle')}}</p>
        </div>
        <div>
            <input v-model="search" placeholder="search">
        </div>
    </div>

    <datatable
        ref="delivery-dt"
        api="/delivery/datatable"
        striped
        bordered
        hoverable
        hasDetail
        :columns="columns"
        :search="search"
        :params="params"
        v-if="show"
    />
</p-portlet>
</template>

<script>
// Config
import Delivery from '../../config/Delivery'

// Components
import PPortlet from '../pegasus/PPortlet'
import Datatable from './Datatable'

export default {
    name: 'DeliveryTable',
    components: { PPortlet, Datatable },
    data() {
        return {
            search:'',
            reload:false,
            columns: Delivery.table.columns
        }
    },
    computed: {
        refresh() {
            return this.$store.state.delivery.refresh
        },
        params() {
            return {
                period: this.$store.state.delivery.period,
                employers: this.$store.state.delivery.employers,
                statuses: this.$store.state.delivery.statuses
            }
        },
        show() {
            return this.$store.state.delivery.initial
        }
    },
    methods: {},
    watch: {
        refresh(val) {
            if(val) this.$refs['delivery-dt'].fetch()
        }
    }
}
</script>
