<template>
<p-portlet isHeader hasCustomTitle :expanded="false">
    <div class="d-flex flex-column flex-md-row flex-wrap justify-content-between px-3" slot="title">
        <div class="d-flex flex-column flex-md-row align-items-center flex-grow-1">
            <h3 class="mb-0" >{{ $t(title) }}</h3>
            <div class="d-flex flex-column flex-md-row align-items-center flex-grow-1 mx-md-5">
                <label class="mb-0 mr-3" style="font-size:.9rem; white-space: nowrap;">{{ $t('delivery.search.period') }} :</label>
                <date-picker v-model="period" :first-day-of-week="1" range lang="fr" style="width: 100%"/>
            </div>
        </div>
        <p-button class="blue" small icon="sync-alt" @click="refresh"> {{ $t('pegasus.actions.searchRefresh') }} </p-button>
    </div>
    <div class="form-group col-30">
        <label>{{ $t('delivery.search.employer') }} :</label>
        <multiselect
            style="width:100%"
            v-model="selectedEmployers"
            :options="employers"
            label="label"
            track-by="id"
            multiple
            :showLabels="false"
            :allowEmpty="false"
            :placeholder="$t('pegasus.lexicon.select')"
        >
            <span slot="noResult">{{ $t('pegasus.lexicon.noResult') }}</span>
        </multiselect>
    </div>
    <div class="form-group col-30">
        <label>{{ $t('delivery.search.status') }} :</label>
        <multiselect
            style="width:100%"
            v-model="selectedStatuses"
            :options="statuses"
            label="label"
            track-by="id"
            multiple
            :showLabels="false"
            :allowEmpty="false"
            :placeholder="$t('pegasus.lexicon.select')"
        >
            <span slot="noResult">{{ $t('pegasus.lexicon.noResult') }}</span>
        </multiselect>
    </div>
</p-portlet>
</template>

<script>
// Components
import Multiselect from 'vue-multiselect'
import DatePicker from 'vue2-datepicker'
import PPortlet from '../pegasus/PPortlet'
import PButton from '../pegasus/buttons/PButton'

// Libraries
import Moment from 'moment'

export default {
    name: 'DeliverySearch',
    components: { Multiselect, PPortlet, DatePicker, PButton },
    props: {
        title: {
            required: true
        }
    },
    data() {
        return {
            period: [new Date, new Date],
            selectedEmployers: this.$store.state.delivery.employers,
            selectedStatuses: null,
            tour: null,
            employers: [],
            statuses: []
        }
    },
    computed: {
        formatedPeriod() {
            return this.period.map(date => {
                return moment(date).format('Y-MM-DD')
            })
        }
    },
    methods: {
        ucFirst(word) {
            return word.charAt(0).toUpperCase() + word.slice(1)
        },
        refresh() {
            this.$store.commit('delivery/setToRefresh')
        },
        storeField(type) {
            const items = (type === 'period') ? this.formatedPeriod : this[`selected${this.ucFirst(type)}`]

            this.$store.commit(`delivery/setSearch`, {
                type,
                items
            })
        },
        selectSourceFormater(type, items) {
            this[type] = items.data.map( ({ id, code, name }) => {
                return {
                    id,
                    label: (type === 'statuses') ? this.$t(`fuel_connect.libelle_state.${name}`) : `${code}_${name}`
                }
            })

            return this[`selected${this.ucFirst(type)}`] = this[type]
        }
    },
    mounted() {
        axios.all([
            axios.get('delivery/search/employers'),
            axios.get('delivery/search/statuses/tour'),
        ])
        .then(results => {
            results.forEach(result => {
                const type = result.config.url.split('/')[2]

                let items = this.selectSourceFormater(type, result)
                this.storeField(type, items)

            })
                this.storeField('period', this.formatedPeriod)
                this.$store.commit('delivery/setToShow')
        })
    },
    watch: {
        period(val) {
            this.storeField('period')
        },
        selectedEmployers(val) {
            this.storeField('employers')
        },
        selectedStatuses(val) {
            this.storeField('statuses')
        }
    }
}
</script>
